/*--------------------------------------------------------------------------------
FONTS ARABES PERSONNALISÉS
----------------------------------------------------------------------------------*/
/* FONT */
@font-face {
  font-family: 'macca';
  src: url('../fonts/AmiriQuran-Regular.ttf');
}
@font-face {
  font-family: 'madina';
  src: url('../fonts/Lateef-Regular.ttf');
}
@font-face {
  font-family: 'touba';
  src: url('../fonts/Neirizi.ttf');
}
@font-face {
  font-family: 'ndiarem';
  src: url('../fonts/Al\ Majeed\ Quranic\ Font_shiped.ttf');
}

/*--------------------------------------------------------------------------------
CORPS DE PAGE
----------------------------------------------------------------------------------*/
/* Thème clair par défaut */
body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  padding: 5;
  margin: 5;
  padding-top: 70px; /* hauteur de la barre de navigation */
}

/*--------------------------------------------------------------------------------
MENU, THÈMES ET LOGO
----------------------------------------------------------------------------------*/
/* Thème sombre */
body.dark-theme {
  background-color: black;
  color: white;
}
.theme-toggle-button{
  margin-top: 10px;
}


 /* -  MENU DU SITE  */
 .tiny-image {
  width: 40px;
  height: 40px;
  float: left;
}
.menu-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #212529;
  text-decoration: none;
}
.menu-toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-toggler-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="currentColor" stroke-width="2" stroke-linecap="round" d="M4 6h8M4 10h8" /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}
.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-item {
  margin: 0.5rem 0;
}
.menu-link,
.menu-text {
  font-size: 1.2rem;
  color: #212529;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.menu-link:hover,
.menu-text:hover {
  color: #007bff;
}
@media (min-width: 768px) {
  .menu-collapse {
    display: flex !important;
    justify-content: flex-end;
  }

  .menu-toggler {
    display: none;
  }

  .menu-list {
    flex-direction: row;
  }

  .menu-item {
    margin: 0 1rem;
  }

  .menu-link,
  .menu-text {
    font-size: 1rem;
  }

  .menu-link.active,
  .menu-text.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
  }

  .menu-link.active:hover,
  .menu-text.active:hover {
    color: #007bff;
    border-bottom: none;
  }
}

 /* -  BOUTON D'ACTION POUR UN CHANSON song-view.php  */
.view-btn{
  display: flex;
  justify-content: space-between;
}
.view-btn-left{
  display: block;
  flex-direction: row;
  justify-content: flex-start;
  align-items: bottom;
  z-index: 600;
}
.view-btn-rgt{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: bottom;
}

.options-content {
  display: none; /* Bouton d'option selon le type d'utilisateur. Masquer par défaut */
}

.show-approveStateSvg {
  display: inline; /* Affiche l'élément en ligne */
}

.hide-approveStateSvg {
  display: none; /* Cache l'élément */
}

.selected-font-button {
  border: 2px solid rgb(184, 211, 34); /* Bordure visible pour le bouton sélectionné */
  background-color: #2196F3;
}

/*--------------------------------------------------------------------------------
PAGE INDEX.PHP
----------------------------------------------------------------------------------*/
.cover-container {
  position: relative;
  width: 98%;
  height: 80vh; /* Hauteur du conteneur à 80% de la hauteur de la fenêtre */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.cover-image {
  width: 100%;
  height: 80%; /* Réduit la hauteur de l'image à 80% du conteneur */
  object-fit: contain; /* S'assure que l'image n'est pas déformée */
}

.left-btn, .right-btn {
  position: absolute;
  bottom: 25px; /* Ajuste la distance par rapport au bas */
}

.left-btn {
  left: 30px; /* Ajuste la distance par rapport à la gauche */
}

.right-btn {
  right: 30px; /* Ajuste la distance par rapport à la droite */
}

/*------------------------------------------------------------ 
AFFICHAGE DÉTAILLÉ D'UN CHANSON 
--------------------------------------------------------------*/
.chanson-box {
  padding: 1rem;
  border: 1px solid #ccc;
}

.chanson-titre { /* Titre de l'oeuvre */
  font-size: 2.8rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #333;
}  
.chanson-content { /* Contenu de l'oeuvre */
  margin-top: 1.5rem;
  font-size: 1.2rem; /* Modifié par /assets/js/song-font-toogler.js et /includes/song-font-by-category.js */
  font-weight: bold;
  background-image: url('../images/bg379.gif');
}

.chapitre-titre { /* TITRE MOYEN DES CHAPITRES DE L'OEUVRE*/
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
 /* background-color: #ffffff9c; */
}

.ligne {
  margin-left: 0; /* Supprimer la marge gauche */
  margin-right: 0; /* Supprimer la marge droite */
  padding-left: 0; /* Supprimer le padding gauche */
  padding-right: 0; /* Supprimer le padding droit */
  margin-bottom: 10px;
  width: 100%; /* Assurez-vous que la ligne occupe 100% de la largeur */
}

.row {
  margin-left: 0; /* Supprimer la marge gauche des lignes */
  margin-right: 0; /* Supprimer la marge droite des lignes */
  width: 100%; /* Assurez-vous que la ligne occupe 100% de la largeur */
}

.colonne{ /* Contient les un trophé, si c'est un vers */
  margin-left: 0; /* Supprimer la marge gauche */
  margin-right: 0; /* Supprimer la marge droite */
  padding-left: 0; /* Supprimer le padding gauche */
  padding-right: 0; /* Supprimer le padding droit */
  line-height: 2.5;  /* Espacement des lignes */
}

/* ------------------------------------------------------
MISE EN ÉVIDENCE DE COLONNE PENDANT RECHERCHE DE TERME 
----------------------------------------------------------*/
.highlight {
  background-color: yellow;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/** --   BARE DE RECHERCHE DE VERS DANS UNE CHANSON */
.search-container {
  position: relative;
  margin-bottom: 1rem;
  z-index: 500;
}
#search {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
}
#search:focus {
  outline: none;
  border-color: #4c6ef5;
}
/* Alignement horizontal des éléments */
.search-result-options {
  display: flex;
  align-items: center; /* Alignement vertical au centre */
  background-color: #f8f8f8;
}

#nb-correspondances {
  font-size: 0.8rem;
  color: #666;
  padding: 1px 10px; /* Ajustez la taille du bouton selon vos besoins */
  margin: 5px 5px;
}

/* Style du bouton .btn-line-filter */
.btn-line-filter {
  font-size: 0.8rem;
  padding: 1px 10px; /* Ajustez la taille du bouton selon vos besoins */
  font-size: 10px; /* Ajustez la taille de la police du bouton selon vos besoins */
}

/** --------------------------------------------------------------  
AFFICHAGES DES INFORMATIONS DU CHANSON: NOMBRE VERS, MOTS, 
-------------------------------------------------------------------...*/
.chanson-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.chanson-info-box {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: center;
  min-width: 120px;
}
.chanson-info-label {
  font-weight: bold;
}
/** --   CATÉGORIE DU CHANSON EN BAS */
.chanson-categorie {
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
  color: #666;
  margin-top: 1rem;
}


/*--------------------------------------------------------------------------------
AFFICHAGES LISTÉE DES OEUVRES AVEC LES BOUTONS D'ACTION
----------------------------------------------------------------------------------*/
/* SÉLECTION DE CHANSONS*/
.song-list {
  list-style: none;
  padding-left: 0;
}
/* CSS pour la partie englobant info et actions des chansons */
.song-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}
/* CSS pour la partie info des chansons */
.song-info {
  flex: 1;
}
.song-info b {
  text-transform: uppercase;
}
/* CSS pour la partie actions des chansons */
.song-actions {
  display: flex;
  gap: 10px; /* Espacement entre les boutons */
}
/* Bouton de tri de la collection*/
.sort-button {
  /* Styles du bouton de tri */
  background-color: transparent;
  color: black;
  padding-right: 40px;
  padding-bottom: 40px;
  border: none;
  cursor: pointer;
  
  /* Positionnement absolu pour le bouton de tri */
  position: absolute;
  top: 0; /* En haut */
  left: 0; /* À gauche */
  margin-top: 0; /* Marge depuis le haut du parent */
  margin-left: 0; /* Marge depuis la gauche du parent */
}

/* Utilisation de médias queries pour les écrans plus petits (mobiles) */
@media (max-width: 768px) {
  .song-item {
    flex-direction: column;
    align-items: flex-start;
}
  .song-actions {
    flex-direction: flex-end;
    align-items: column; /* Alignement à droite sur mobile */
  } 
  /* Styles pour les boutons sur les petits écrans */
  .song-actions a.btn {
    font-size: 10px;
    padding: 5px 10px;
  }
}

      
/* Alignement de texte dans champ de saisi*/      
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

footer {
  margin-bottom: 20px;
}